body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.header,
.footer {
    padding: 8px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;

}

.body-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 64px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 550px;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

a,
.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.info-header {
    margin-bottom: 40px;
    text-align:center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
img {
    border-radius: 8px;
    max-width: 200px;
}
.text {
    margin-top: 8px;
   color: #61656e; 
    max-width: 200px;
}

.body-two {
    padding: 40px;
    height: 300px;
}

/*third quote section*/
.body-three {
    background-color: #e5e7eb;
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: center;
}

.quote-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.quote {
    font-weight:300;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    max-width: 800px;
}

.speaker {
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}
.body-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

.blue-container {
    border-radius: 10px;
    width: 800px;
    background-color: #3882F6;
    padding: 40px;
    display: flex;
    color:#F9FAF8;
    justify-content: space-around;
    align-items: center;
}

.action-header {
    font-weight: 700;
    font-size: 18px;
}


.footer {
    padding: 42px;
    color:  #e5e7eb;
}

.sign-up,
.last-sign-up {
    padding: 8px 24px;
    border-radius: 8px;
    color:#F9FAF8;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    font-weight: bold;
}

.last-sign-up {
    border: 2px solid #F9FAF8;
}